<component name="ArtifactManager">
  <artifact type="exploded-war" name="mybatis-prj1:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/mybatis_prj1_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="mybatis-prj1/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="mybatis-prj1" />
        </element>
        <element id="directory" name="lib">
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/asm-7.1.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/cglib-3.3.0.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/ognl-3.2.15.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/log4j-1.2.17.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/mybatis-3.5.6.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/log4j-api-2.13.3.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/slf4j-api-1.7.30.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/log4j-core-2.13.3.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/commons-logging-1.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/javassist-3.27.0-GA.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/slf4j-log4j12-1.7.30.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/mysql-connector-java-8.0.19.jar" />
        </element>
      </element>
    </root>
  </artifact>
</component>