<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for</title>
</head>
<body>
    <div id="app">
        <input type="button" value="添加数据" @click="add">
        <input type="button" value="移除数据" @click="remove">
        <ul>
            <li v-for="(it,index) in arr">
                {{index + 1}}浙工大校区：{{it}}
            </li>
        </ul>
        <h2 v-for="item in vegetables" :title="item.name">
            {{item.name}}
        </h2>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el:"#app",
            data:{
                arr:["pf","zh","mgs"],
                vegetables:[
                    {name:"青椒"},
                    {name:"辣椒"}
                ]
            },
            methods:{
                add:function (){
                    this.vegetables.push({name:"花菜"});
                },
                remove:function (){
                    this.vegetables.shift();
                }
            }
        })
    </script>
</body>
</html>